html {
  font-family: 'roboto';
}

.upload-container {
  padding: 20px;
  background-color: #fefefe;
  color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  min-height: 100vh;
}

.upload-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.upload-container form {
  margin-bottom: 20px;
}

.upload-container input[type='file'],
.upload-container select,
.upload-container input[type='submit'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.upload-container input[type='submit'] {
  background-color: #ff6347; /* Set button background color to red */
  color: #fff; /* Set button text color */
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-container input[type='submit']:hover {
  background-color: #ff4838; /* Darken the background color on hover */
}

.upload-container p {
  margin-bottom: 20px;
}
